<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_head('サンプルメモアプリ',~{::script},~{::link})"></head>
<body>
    <nav th:replace="common::common_nav"></nav>
    <div class="row">
        <div class="col-sm-4 mt-3" th:each="sampleMemo:${sampleMemoList}">
            <div class="card">
                <h4 class="card-header" th:text="${sampleMemo.getUserName()}"></h4>
                <div class="card-body">
                    <h4 class="card-title" th:text="${sampleMemo.getSubject()}"></h4>
                    <p class="card-text" th:text="${sampleMemo.getMemo()}"></p>
                </div>
                <div class="card-footer">
                    一言あれば
                </div>
            </div>
        </div>
    </div>
</body>
</html>