<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_head('サンプルメモアプリ',~{::script},~{::link})">
</head>
<body>
    <nav th:replace="common::common_nav"></nav>
    <div id="sample">
        <form th:action="@{/sample/memo/index}" th:method="post" th:object="${request}" enctype="multipart/form-data" @submit="checkInput">
            <div class="form-row">
                <div class="col-md-6 mt-3">
                    <label for="subject">ユーザ名</label>
                    <input type="text" class="form-control is-invalid" name="userName" placeholder="イッシー" v-model="userName">
                    <div class="invalid-feedback">{{ userNameErrorMessage }}</div>
                    <!--
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div>
                    -->
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mt-3">
                    <label for="subject">タイトル</label>
                    <input type="text" class="form-control is-invalid" name="title" placeholder="今日は朝起きれた" v-model="title">
                    <div class="invalid-feedback">{{ titleErrorMessage }}</div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mt-3">
                    <label for="tagName">タグ名</label>
                    <input type="text" class="form-control is-invalid" name="category" placeholder="囲碁" v-model="category">
                    <div class="invalid-feedback">{{ categoryErrorMessage }}</div>
                    <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div> -->
                    <span v-for="(outputCategory, index) in outputCategories" v-on:click="deleteCategory(index)">{{ outputCategory }}&nbsp;</span>
                </div>
                <div class="col-md-6 mt-5">
                    <button type="button" class="btn btn-primary" v-on:click="addCategory">追加</button>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mt-3">
                    <label for="detail">内容</label>
                    <textarea class="form-control is-invalid" name="memo" placeholder="えらい" v-model="memo"></textarea>
                    <div class="invalid-feedback">{{ memoErrorMessage }}</div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}"></div>
                </div>
            </div>

            <input type="submit" name="submit" v-on:click="checkInput" class="btn btn-primary mt-3" value="登録">
            <input type="hidden" name="categories" v-model="outputCategories">
        </form>
    </div>
</body>
<script th:src="@{/js/vue_sample.js}"></script>

</html>